body {
    background-color: #f8f9fa;
}

h1 {
    font-size: 2rem;
}

.table-responsive {
    margin-bottom: 1rem;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.bg-light {
    background-color: #f0f0f0 !important;
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.history-points {
    flex-grow: 1;
    text-align: center;
}

.history-text {
    flex-grow: 1;
    text-align: center;
}

.table-container {
    width: 90%;
    overflow-x: auto;
    margin-top: 20px;
}

.history-label {
    flex: 0 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #000000;
    color: white;
}

.controls {
    margin-top: 20px;
}

.controls label {
    margin-right: 10px;
}

.controls input[type="number"] {
    width: 60px;
    padding: 5px;
}

#Xbutton {
    border-radius: 100%;
    background-color: #000000;
    border: #000000;
    color: #ffffff;
    margin: 10px;
}

.controls button {
    margin-right: 10px;
    margin: 10px;
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

.win {
    color: green;
    font-weight: bold;
}

.loss {
    color: red;
    font-weight: bold;
} 